## Email Google MAN 1 Banda Aceh X-2 Pre-Internasional

Email: man1bandaacehX2@gmail.com<br>
pass: Man2025!

## Python

Python = Python adalah bahasa pemrograman tingkat tinggi yang dirancang untuk kemudahan pembacaan kode, menjadikannya populer untuk berbagai aplikasi seperti web, ilmu data, dan machine learning

Python bahasa yang sangat mudah dipahami dan sangat mirip dengan bahasa Inggris (english)

Python adalah bahasa pemograman yang "Case Sensitif" yang artinya huruf besar/kecil itu berpengaruh

Python juga sensitif terhadap inden

## print()
print() = fungsi bawaan yang digunakan untuk menampilkan output (teks, angka, atau objek lainnya) ke konsol atau layar

print bisa pakai `petik satu (') dan petik dua (")`

untuk menggunakan efek 'enter' kita bisa pakai ' dan " dengan menggunakan 3x petikan. contoh: `''' '''` dan `""" """`

In [ ]:
# efek 'tab'
print('Nama: \t Mufid Akhbar')

# efek 'enter' tapi tidak memakai yang petikannya 3x
print("Nama: Mufid Akhbar \nUmur: 24 \nTinggi badan: 165 cm")

Nama: 	 Mufid Akhbar
Nama: Mufid Akhbar
Umur: 24
Tinggi badan: 165 cm

In [ ]:
# print petik ""
print("Hello World")
print("Jum'at")

# print petik ''
print('Aku sangat  bosan dengan hari ini')

# print petik """"
print("""
Barang Irian Burung 'Cendrawasi'
Cukup Sekian Terimakasih
""")

# print petik '''
print('''
Barang Irian Burung "Cendrawasi"
Cukup Sekian Terimakasih
''')

# \n
print("Nama: \nUmur: \nAsal:")

#\t
print("Nama: \t Umur: \t Asal:")

# format string (f)
print(f"Saya sekolah di MAN 1 Banda Aceh")

Hello World
Jum'at
Aku sangat  bosan dengan hari ini

Barang Irian Burung 'Cendrawasi'
Cukup Sekian Terimakasih


Barang Irian Burung "Cendrawasi"
Cukup Sekian Terimakasih

Nama:
Umur:
Asal:
Nama: 	 Umur: 	 Asal:
Saya sekolah di MAN 1 Banda Aceh

## Variabel / Variable
Variabel = nama simbolis yang berfungsi sebagai wadah untuk menyimpan nilai data seperti angka, teks (string), atau tipe data lainnya

- bisa pakai _diawal
- tidak boleh pakai "angka diawal" TETAPI boleh setelah ada huruf
- tidak boleh ada spasi TETAPI bisa diganti dengan _
- tidak boleh pakai - di tengah ex. nama-depan
- Case Sensitif

In [ ]:
a = 10
b = 10,2
c = d = 1.2
_angka = 99
Nama = "MAN 1"
nama_lengkap = "MAN 1 Banda Aceh"
x, y, z = "Orange", "Banana", "Cherry"
x = y = z = "Orange"

print(a)
print(b)
print(c)
print(d)
print(_angka)
print(Nama)
print(nama_Lengkap)
print(x, y, z)

10
(10, 2)
1.2
1.2
99
MAN 1
MAN 1 Banda Aceh
Orange Orange Orange

In [ ]:
a = 10 # terdeteksi sebagai angka
a = "10" # terdeteksi sebagai string

print("angka kesukaan saya = ", a)

angka kesukaan saya =  10

## Tipe Data / Data Type
Tipe Data =  jenis nilai yang dapat disimpan dalam sebuah variabel dan operasi apa saja yang dapat dilakukan terhadap nilai tersebut

Tipe Data Python:
- Integer (angka bulat)
- Float (angka desimal)
- String (bisa huruf dan angka) || String ditandai dengan " atau '
- Boolean ( True atau False )

In [ ]:
r = 10 # angka bulat => integer (int)
e = 10.0 # angka desimal => float
w = "MAN 1 Banda Aceh" # kata/kalimat/paragraf => string
q = True # Boolean "True atau False"
x = 1 + 5j # Complex

print(type(r))
print(type(e))
print(type(w))
print(type(q))
print(type(x))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'complex'>

## Format String

Cara Lain untuk memakai string dan varibel

Format string ditandai dengan f dan ' atau "

In [ ]:
nama_lengkap = "MAN1 banda aceh"
print(f"Saya sekolah di {nama_lengkap}")

Saya sekolah di MAN1 banda aceh

In [ ]:
print("Nama Sekolah: MAN 1 banda Aceh")

Nama Sekolah: MAN 1 banda Aceh

In [ ]:
a = "Man 1 Banda Aceh"
b = "Man 1 BNA"
c = "difatih"
print("Saya Sekolah di:",a)

Saya Sekolah di: Man 1 Banda Aceh

In [ ]:
# Format
print(f"Saya sekolah SMA di:{c}")

Saya sekolah SMA di:difatih

## Casting Tipe Data
Casting Tipe Data = proses mengubah suatu nilai dari satu tipe data ke tipe data lainnya, seperti mengubah string menjadi integer atau sebaliknya

`int(), str(), float()`

In [ ]:
# Mengubah nilai Integer (int) menjadi String
z = 10
print(type(z))
x = str(z)
print(type(x))

<class 'int'>
<class 'str'>

In [ ]:
# Mengubah nilai string menjadi integer
n = "10"
print(type(n))

m = int(n)
print(type(m))

<class 'str'>
<class 'int'>

In [ ]:
g = 10 # integer (int) => bilangan bulat

x = float(g)

In [ ]:
print(x)

10.0

In [ ]:
w = 8.7 # Float => bilangan desimal

d = int(w)

In [ ]:
print(d)

8

In [ ]:
a = "jihan"
print(a*3)

jihanjihanjihan

In [ ]:
# Integer
data_int = 1
print("data = ", data_int, ",type =",type(data_int))

data_float = float(data_int)
data_str = str(data_int)
data_bool = bool(data_int) # akan false jika nilai int = 0

print("data = ", data_float, ",type =", type(data_float))
print("data = ", data_str, ",type =",type(data_str))
print("data = ", data_bool, ",type =", type(data_bool))

data =  1 ,type = <class 'int'>
data =  1.0 ,type = <class 'float'>
data =  1 ,type = <class 'str'>
data =  True ,type = <class 'bool'>

In [ ]:
# FLOAT
data_float = 9.5
print("data = ", data_float, ",type =", type(data_float))

data_int = int(data_float)
data_str = str(data_float)
data_bool = bool(data_float) # akan false jika nilai float = 0

print("data = ", data_int,", type =", type(data_int))
print("data = ", data_str,",type =", type(data_str))
print("data = ", data_bool, "type =", type(data_bool))

data =  9.5 ,type = <class 'float'>
data =  9 , type = <class 'int'>
data =  9.5 ,type = <class 'str'>
data =  True type = <class 'bool'>

## input()
input() = Fungsi bawaan yang digunakan untuk mendapatkan masukan dari pengguna melalui keyboard

input()

Input akan mengeluarkan output dengan tipe data str

In [ ]:
nama = input('Nama Anda: ')
print(nama)

Nama Anda: Saya
Saya

In [ ]:
nama_user = input("masukkan nama anda:")
print("Nama User adalah:", nama_user)

masukkan nama anda:Pak Haji
Nama User adalah: Pak Haji

In [ ]:
user = input("Masukkan Nama Sekolah Anda: ")
print("Nama Sekolah saya adalah:",user)

In [ ]:
# Menggunakan Casting Data ke integer
user = int(input("Masukkan Angka int: "))
print(user)
print(type(user))

23
<class 'int'>

In [ ]:
# Menggunakan Casting Data ke Float
user = float(input("Masukkan Angka Float: "))
print(user)
print(type(user))

10.0
<class 'float'>

## Operator
Operator = Operator digunakan untuk melakukan operasi pada variabel dan nilai <br>
Macam-macam Operator sebagai berikut:
- Operator Aritmatika (Arithmetic Operators)
- Operator Perbandingan (Comparison (Relational) Operators)
- Operator Penugasan (Assignment Operators)
- Operator Logika (Logical Operators)
- Operator Bitwise (Bitwise Operators)
- Operator Keanggotaan (Membership Operators)
- Operator Identitas (Identity Operators)

### Operator Aritmatika (Arithmetic Operators)
`+, -, *, /, **, %, //`

In [ ]:
a = 10
b = 5

# Penjumlahan (+)
print("Penjumlahan:",a+b)

# Pengurangan (-)
print("Pengurangan:",a-b)

# Perkalian (*)
print("Perkalian:",a*b)

# Pembagian (/)
print("Pembagian:",a/b)

# Pangkat (**)
print("Pangkat:",a**b)

# Sisa bagi / Modulus (%)
print("Modulus",a%b)

# Pembagian Bulat (//)
print("Pembagian Bulat:", a//b)

Penjumlahan: 15
Pengurangan: 5
Perkalian: 50
Pembagian: 2.0
Pangkat: 100000
Modulus 0
Pembagian Bulat: 2

### Operator Perbandingan (Comparison (Relational) Operators)
`==, !=, >, <, >=, <=, <>`

Operasi Perbandingan dapat bekerja syntax "literal"

In [ ]:
a = 10
b = 5

# Sama dengan (==)
print("Sama dengan:",a==b)

# Tidak sama dengan (!=)
print("Tidak sama dengan:",a!=b)

# Lebih dari (>)
print("Lebih dari:",a>b)

# Kurang dari (<)
print("Kurang dari:",a<b)

# Lebih dari sama dengan (>=)
print("Lebih dari sama dengan:",a>=b)

# Kurang dari sama dengan (<=)
print("Kurang dari sama dengan:",a<=b)

Sama dengan: False
Tidak sama dengan: True
Lebih dari: True
Kurang dari: False
Lebih dari sama dengan: True
Kurang dari sama dengan: False

### Operator Penugasan (Assignment Operators)
`=, +=, -=, *=, /=, **=, %=, //=`

In [ ]:
# Sama dengan (=)
a=b=c=d=e=f=g=h = 10
print("Sama dengan:",a)
print("Sama dengan:",b)
#dst

# Tambah sama dengan (+=)
a+=3
print("Tambah sama dengan:",a)

# Kurang sama dengan (-=)
b-=3
print("Kurang sama dengan:",b)

# kali sama dengan (*=)
c*=3
print("Kali sama dengan:",c)

# bagi sama dengan (/=)
d/=3
print("bagi sama dengan:",d)

# Pangkat sama dengan (**=)
e**=3
print("Pangkat sama dengan:",e)

# Modulus sama dengan (%=)
f%=3
print("Modulus sama dengan:",f)

# Pembagian bulat sama dengan (//=)
g//=3
print("Pembagian bulat sama dengan:",g)

Sama dengan: 10
Sama dengan: 10
Tambah sama dengan: 13
Kurang sama dengan: 7
Kali sama dengan: 30
bagi sama dengan: 3.3333333333333335
Pangkat sama dengan: 1000
Modulus sama dengan: 1
Pembagian bulat sama dengan: 3

### Operator Logika (Logical Operators)
`and, or , not`

In [ ]:
x = 5

# and
print("Operator and:", x > 3 and x < 10)

# or
print("Operator or:", x < 5 or x < 4)

# not
print("Operator not:", not(x < 5 and x < 10))

Operator and: True
Operator or: False
Operator not: True

### Operator Bitwise (Bitwise Operators)
`&, |, ^, ~, >>, <<`

In [ ]:
a = 12  # dalam biner: 1100
b = 6  # dalam biner: 0110

# AND (&) - menghasilkan 1 jika kedua bit bernilai 1
print("AND:",a&b)
# 1100
# 0110
# 0100 adalah 4

# OR (|) - menghasilkan 1 jika salah satu bit bernilai 1
print("OR:",a|b)
# 1100
# 0110
# 1110 adalah 14

# XOR (^) - menghasilkan 1 jika bit berbeda
print("XOR:",a^b)
# 1100
# 0110
# 1010 adalah 10

# NOT (~) - membalik semua bit
print("NOT:",~b)
# 0000000000000110
# 1111111111111001 adalah -7

# Left Shift (<<) - geser bit ke kiri
print("<<:",b<<2)
# 0000000000000110
# 0000000000011000 adalah 24

# Right Shift (>>) - geser bit ke kanan
print(">>:",b>>2)
# 0000000000000110
# 0000000000000001 adalah 1

AND: 4
OR: 14
XOR: 10
NOT: -7
<<: 24
>>: 1

### Operator Keanggotaan (Membership Operators)
`in, not in`

In [ ]:
x = 1,2,3,4,5

# in
print("in:", 1 in x)

# not in
print("not in:", 10 not in x)

in: True
not in: True

### Operator Identitas (Identity Operators)
`is, is not`

is atau is not dapat dioperasikan untuk membandingkan memory/object

In [ ]:
x = 1
y = 1
z = 2

# is
print(x is y)

# is not
print(x is not z)

True
True

## List
List = Lists digunakan untuk menyimpan beberapa item dalam satu variabel. Lists dibuat dengan menggunakan tanda kurung siku [].

In [ ]:
alat_tulis = ["pensil", "pulpen", "rol"]
print("Alat Tulis:",alat_tulis)

data_siswa = ["Budi", 168, 62, "Banda Aceh"]
print("Data Siswa:", data_siswa)

Alat Tulis: ['pensil', 'pulpen', 'rol']
Data Siswa: ['Budi', 168, 62, 'Banda Aceh']

In [ ]:
# append (menambahkan item dalam list)
alat_tulis.append("penghapus")
print("Menambahkan Penghapus:", alat_tulis)

# remove (menghapus item dalam list)
alat_tulis.remove("pensil")
print("Menghapus pensil:", alat_tulis)

# mengambil item dalam list ([])
data_siswa[0]

Menambahkan Penghapus: ['pensil', 'pulpen', 'rol', 'penghapus']
Menghapus pensil: ['pulpen', 'rol', 'penghapus']

'Budi'

## Tuple
Tuple = kumpulan data yang terurut dan tidak dapat diubah. Tuple ditulis menggunakan kurung bulat ().

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [ ]:
# mengambil item dalam tuple([])
thistuple[1]

'banana'

## Set
Set = kumpulan yang tidak terurut, tidak dapat diubah*, dan tidak memiliki indeks.
<br>
<b>Catatan</b>: Item yang ditetapkan tidak dapat diubah, tetapi Anda dapat menghapus item dan menambahkan item baru.

In [ ]:
pakaian_sekolah = {"topi", "tali pinggang", "sepatu", "kaos kaki"}
print(pakaian_sekolah)

{'kaos kaki', 'topi', 'sepatu', 'tali pinggang'}

## Dictionary
Dictionary/kamus = Kamus digunakan untuk menyimpan nilai data dalam pasangan `key:values`. Kamus adalah kumpulan yang terurut, dapat diubah, dan tidak mengizinkan duplikat.

In [ ]:
data_sekolah = {
    "nama_sekolah": "MAN 1 Banda Aceh",
    "lokasi_sekolah": "Banda Aceh",
    "grade_Sekolah": "A",
}

print(data_sekolah)
print("Keys:", data_sekolah.keys())
print("Values: ",data_sekolah.values())

{'nama_sekolah': 'MAN 1 Banda Aceh', 'lokasi_sekolah': 'Banda Aceh', 'grade_Sekolah': 'A'}
Keys: dict_keys(['nama_sekolah', 'lokasi_sekolah', 'grade_Sekolah'])
Values:  dict_values(['MAN 1 Banda Aceh', 'Banda Aceh', 'A'])

In [ ]:
# mengambil item dalam dictionary

print(data_sekolah['nama_sekolah'])

MAN 1 Banda Aceh

## Conditional / Kondisi
Conditional = Sebuah “if statement” ditulis dengan menggunakan kata kunci `if, elif, else`. <br>

Python mendukung kondisi logika yang umum dalam matematika seperti:
- Sama dengan: a == b
- Tidak sama dengan: a != b
- Lebih kecil dari: a < b
- Lebih kecil dari atau sama dengan: a <= b
- Lebih besar dari: a > b
- Lebih besar dari atau sama dengan: a >= b
<br>
Kondisi-kondisi ini dapat digunakan dalam berbagai cara, paling umum dalam “if statements” dan loop.

In [ ]:
a = 100
b = 50

if b > a:
  print("b lebih besar dibanginkan a")
elif a == b:
  print("a dan b sama besar")
else:
  print("a lebih besar dibandingkan b")

a lebih besar dibandingkan b

## Looping / Perulangan

Looping = Perulangan for digunakan untuk mengiterasi melalui sebuah urutan (yang dapat berupa daftar, tuple, kamus, himpunan, atau string). Ini berbeda dengan kata kunci for dalam bahasa pemrograman lain, dan lebih mirip dengan metode iterator yang ditemukan dalam bahasa pemrograman berorientasi objek lainnya.<br>

Di dalam bahasa pemrograman Python pengulangan dibagi menjadi 3 bagian, yaitu :
- For Loop
- While Loop
- Nested Loop

### For Loop
For = Perulangan for digunakan untuk mengiterasi melalui sebuah urutan (yang dapat berupa daftar, tuple, kamus, himpunan, atau string).
<br>
Dengan perulangan for, kita dapat menjalankan serangkaian pernyataan, sekali untuk setiap item dalam daftar, tuple, himpunan, dan sebagainya.

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print("saya suka makan buah:",x)

saya suka makan buah: apple
saya suka makan buah: banana
saya suka makan buah: cherry

In [ ]:
angka = [1,2,3,4,5]
for x in angka:
  print(x)

1
2
3
4
5

In [ ]:
sekolah = "MAN 1 Banda Aceh"
for i in sekolah:
    print(i)

M
A
N

1

B
a
n
d
a

A
c
e
h

### While Loop
While = Dengan perulangan while, kita dapat menjalankan serangkaian pernyataan selama suatu kondisi tetap benar.

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [ ]:
count = 0
while (count < 6):
  print ("The count is: ", count)
  count = count + 1

print ("Good bye!")

The count is:  0
The count is:  1
The count is:  2
The count is:  3
The count is:  4
The count is:  5
Good bye!

### Nested Loop
nested loop = Bahasa pemrograman Python memungkinkan penggunaan satu lingkaran di dalam loop lain. Pengulangan ini  ditulis dengan menggunakan lebih dari satu fungsi loop bisa if dan juga while

In [ ]:
print("Tabel Perkalian")
for i in range(1, 6):  # Loop luar: angka 1-5
    for j in range(1, 6):  # Loop dalam: angka 1-5
        hasil = i * j
        print(f"{i} x {j} = {hasil:2d}", end="  |  ")
    print()  # Pindah ke baris baru

Tabel Perkalian
1 x 1 =  1  |  1 x 2 =  2  |  1 x 3 =  3  |  1 x 4 =  4  |  1 x 5 =  5  |
2 x 1 =  2  |  2 x 2 =  4  |  2 x 3 =  6  |  2 x 4 =  8  |  2 x 5 = 10  |
3 x 1 =  3  |  3 x 2 =  6  |  3 x 3 =  9  |  3 x 4 = 12  |  3 x 5 = 15  |
4 x 1 =  4  |  4 x 2 =  8  |  4 x 3 = 12  |  4 x 4 = 16  |  4 x 5 = 20  |
5 x 1 =  5  |  5 x 2 = 10  |  5 x 3 = 15  |  5 x 4 = 20  |  5 x 5 = 25  |

## Functions (def)
Functions = Sebuah fungsi adalah blok kode yang hanya dijalankan ketika dipanggil. Anda dapat mengirimkan data, yang dikenal sebagai parameter, ke dalam sebuah fungsi.
<br>
Sebuah fungsi dapat mengembalikan data sebagai hasilnya.

In [ ]:
def email(name):
    nama_email = name+'@gmail.com'
    return nama_email

In [ ]:
email("MAN1BandaAceh")

'MAN1BandaAceh@gmail.com'

In [ ]:
def nama_gelar(nama_depan, nama_belakang):
    gelar = nama_depan+" "+nama_belakang+" S.KOM"
    return gelar

In [ ]:
nama_gelar("Budi", "Akhbar")

'Budi Akhbar S.KOM'

## Object Oriented Programming (OOP)
OOP = OOP adalah singkatan dari Pemrograman Berorientasi Objek. Python adalah bahasa pemrograman berorientasi objek, yang memungkinkan Anda untuk mengorganisir kode Anda menggunakan kelas dan objek untuk organisasi yang lebih baik dan kemudahan penggunaan ulang

In [ ]:
class Manusia:
    def __init__(self):
        self.warna_rambut = "putih"
        self.tinggi = 170
        self.berat = 60

In [ ]:
Budi = Manusia()

In [ ]:
print(Budi.warna_rambut)
print(Budi.tinggi)
print(Budi.berat)

putih
170
60

In [ ]:
class Manusia:
    def __init__(self, warna_rambut, tinggi, berat=60 ):
        self.warna_rambut = warna_rambut
        self.tinggi = tinggi
        self.berat = berat

    def cat_rambutnya(self, warna):
        self.warna_rambut = warna
        print(f"rambutnya jadi warna: {warna}")

In [ ]:
Budi = Manusia("hitam", 167)

In [ ]:
print(Budi.warna_rambut)
print(Budi.tinggi)
print(Budi.berat)

hitam
167
60

In [ ]:
Budi.cat_rambutnya("pink")

rambutnya jadi warna: pink

In [ ]:
print(Budi.warna_rambut)
print(Budi.tinggi)
print(Budi.berat)

pink
167
60